---
interface Props {
  name: string;
  description: string;
  price: string;
}

const { name, description, price } = Astro.props;
---

<div class="mb-6 break-inside-avoid">
  <div class="flex justify-between items-baseline">
    <h3 class="font-bold uppercase text-sm">{name}</h3>
    <div class="flex-grow mx-2 border-b-2 border-dotted border-stone-400 opacity-50 relative top-[-4px]"></div>
    <span class="font-bold text-sm whitespace-nowrap">{price}</span>
  </div>
  {description && (
    <p class="text-[10px] text-stone-500 mt-1 uppercase leading-tight max-w-[90%]">{description}</p>
  )}
</div>
